<div id="<%= dom_id listing %>">
  <p>
    <strong>Title:</strong>
    <%= listing.title %>
  </p>

  <p>
    <strong>Beds:</strong>
    <%= listing.beds %>
  </p>

  <p>
    <strong>Baths:</strong>
    <%= listing.baths %>
  </p>

  <p>
    <strong>Plus:</strong>
    <%= listing.plus %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= listing.rating %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= listing.price %>
  </p>

  <p>
    <strong>Rental period:</strong>
    <%= listing.rental_period %>
  </p>

  <p>
    <strong>Main image caption:</strong>
    <%= listing.main_image_caption %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= listing.location_id %>
  </p>

</div>
